.herobackground {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ),
  url('../../public/assets/images/webp/dreamtalk-desktop-bannerbg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .herobackground {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url('../../public/assets/images/webp/dreamtalk-mobile-bannerbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 50%;
  }
}

@media screen and (min-width: 574px) and (max-width: 639px) {
  .heroinput {
    width: 60vw !important;
  }
}
