.herobackground {
  background: url('../../public/assets/images/webp/dreamtalk-desktop-bannerbg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .herobackground {
    background: url('../../public/assets/images/webp/dreamtalk-mobile-bannerbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 574px) and (max-width: 639px) {
  .heroinput {
    width: 60vw !important;
  }
}
