@media screen and (min-width: 1014px) and (max-width: 1199px)  {
    .drmtalk {
       margin-left: 500px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px)  {
    .drmtalk {
       margin-left: 700px;
    }
}

@media screen and (min-width: 1400px) {
    .drmtalk {
       margin-left: 850px;
    }
}