@media screen and (min-width: 1014px) and (max-width: 1199px)  {
    .drmtalk {
       margin-left: 400px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1279px)  {
    .drmtalk {
       margin-left: 500px;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1399px)  {
    .drmtalk {
       margin-left: 520px;
    }
}

@media screen and (min-width: 1400px) {
    .drmtalk {
       margin-left: 600px;
    }
}